<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>basic ping web</title>
</head>

<body>

    <h2>pinger =^_^=</h2>

    <form id="form">
        <h2>ip_address</h2>
        <input type="text" id="ip_address">
        <button type="submit" name="button">Submit</button>
    </form>
    
    <div id="output"></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script type="text/javascript">
    $(document).ready(function() {
        $('#form').on('submit',function(e){
            $.ajax({
            data : {
              ip_address : $('#ip_address').val(),
            },
            type : 'POST',
            url : '/'
            })
            .done(function(data){
            $('#output').text(data.output).show();
            });
            e.preventDefault();
        });
    });
    </script>
    
</body>
</html>